<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="public/css/index.css">
        <title>FREELANCER</title>
    </head>
    <body>
        <div class="navbar">
            <a href="#" class="logo">
                FREELANCER
            </a>

            <div class="links">
                <a href="#" class="navbar-link">Home</a>
                <a href="#" class="navbar-link">Customers</a>
                <a href="#" class="navbar-link">Freelancers</a>
                <a href="#" class="navbar-link">Contacts</a>
            </div>
        </div>  

        <div>
            <div class="min-bid">
                <h1 class="min-head">Current Minimum Bid: XXXXXX</h1>

                <h1 class="max-bud">Maximum Budget: XXXXXX</h1> 

                <h1 class="j-head">Job Description</h1>
                <p class="j-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
                <div class="bidders">
                    <div class="bidder-1">
                        <a href="#" class="name">Siddharth R</a>
                        <div class="amount">
                            <div class="bid">XXXXXX</div>
                            <input class="pay" type="Submit" value="Confirm Bid">
                        </div>
                    </div>
                    <div class="bidder-2">
                        <a href="#" class="name">Janaki Raman</a>
                        <div class="amount">
                            <div class="bid">XXXXXX</div>
                            <input class="pay" type="Submit" value="Confirm Bid">
                        </div>
                    </div>
                    <div class="bidder-2">
                        <a href="#" class="name">Hari Ganesh</a>
                        <div class="amount">
                            <div class="bid">XXXXXX</div>
                            <input class="pay" type="Submit" value="Confirm Bid">
                        </div>
                    </div>
                    <div class="bidder-2">
                        <a href="#" class="name">Roghan</a>
                        <div class="amount">
                            <div class="bid">XXXXXX</div>
                            <input class="pay" type="Submit" value="Confirm Bid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>