<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="public/css/free-bidding.css">
        <title>FREELANCER</title>
    </head>
    <body>
        <div class="navbar">
            <a href="#" class="logo">
                FREELANCER
            </a>

            <div class="links">
                <a href="#" class="navbar-link">Home</a>
                <a href="#" class="navbar-link">Customers</a>
                <a href="#" class="navbar-link">Freelancers</a>
                <a href="#" class="navbar-link">Contacts</a>
            </div>
        </div>  

        <div>
            <h1 class="c-head">Client:<span class="c-desc"> Roghan</span></h1>
            <h1 class="c-head">Email:<span class="c-desc"> roghan.jawaharlal@gmail.com</span></h1>
        </div>

        <div>
            <div class="min-bid">
                <h1 class="max-bud">Maximum Budget: XXXXXX</h1>
                
                <div class="input-stuff">
                    <input class="input-box" type="text" placeholder="Enter the price to bid...">
                    <input class="bidder" type="Submit" value="Enter Bid">
                </div>

                <h1 class="j-head">Job Description</h1>
                <p class="j-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
        </div>
    </body>
</html>