<!doctype html>
<html class="no-js" lang="en">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
    </style>

<head>


    <meta charset="utf-8">
    <title>FreeLancer</title>  
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/LineIcons.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/parallax.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>


    <div id="hero">
        
        <div class="layer-1 layer" id="l2"></div>

        <div class="layer-overlay layer" id="l1"><h1 class="teams" style="color:lightpink;font-size: 3rem;color: black;font-family: 'Raleway',sans-serif;">FREELANCING, MADE SIMPLE</h1></div>
        <div class="layer-4 layer" id="l4"></div>
        <div class="title team neon" id="teamtext">
            <br><br>
            <h1 class="borderku legacyku" style="font-size: 8rem;margin-top: 3rem;">NOOB SQUAD</h1>
        </div>
    </div>
    <header class="header-area">
        <div class="navbar-area headroom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav m-auto">
                                    <li class="nav-item active">
                                        <a href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#about">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#services">Freelancers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="home" class="header-hero bg_cover d-lg-flex align-items-center" style="background-image: url(/images/header-hero.jpg);filter: invert(1);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="header-hero-content">
                            <h1 class="hero-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"><b>Noob Squad</b> <span>corporate</span> Freelancing <b>services.</b></h1>
                            <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">An efficient and wholesome way of making your ideas into reality by a awesome workforce</p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-hero-image d-flex align-items-center wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="1.1s">
                <div class="image">
                    <img style="filter: invert(1);" src="/images/lmo.png" alt="Hero Image">
                </div>
            </div> <!-- header hero image -->
        </div> <!-- header hero -->
    </header>
    
   
    
    <section id="services" class="our-services-area pt-115">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-9">
                    <div class="section-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h6 class="sub-title">What we do</h6>
                        <h4 class="title" style="color:black;">We connect you with the latest, brightest and the best of minds <span> of your industry to provide you with apt solutions </span></h4>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="our-services-tab pt-30">
                        <ul class="nav justify-content-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="business-tab" data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="true">
                                    <i class="lni-briefcase"></i> <span>Are you a  <br> Customer?</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <p id="digital-tab" data-toggle="tab" href="#digital" role="tab" aria-controls="digital" aria-selected="false">
                                    <i class="lni-bullhorn"></i> <span>Or <br></span>
                                </p>
                            </li>

                            <li class="nav-item">
                                <a id="market-tab" data-toggle="tab" href="#market" role="tab" aria-controls="market" aria-selected="false">
                                    <i class="lni-stats-up"></i> <span>Are you a <br>  Freelancer?</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="business-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="our-services-image mt-50">
                                            <img src="/images/produc.png" alt="service">
                                        </div> <!-- our services image -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="our-services-content mt-45">
                                            <h3 class="services-title" style="color:red">How you can benefit <span>with our schemes.</span></h3>
                                            <p class="text"><p style="font-weight: 400;">Provide basic requirements</p><p>Freelancers get to bid quotations on your projects.  <br>  <br> You get to choose the lowest bid. Freelancer recent activities available on profile page to check authenticity. </p>
                                        </div> 
                                    </div>
                                    <br><br><br>
                                    <div class="container" style="margin-left: 50vw;">	
                                        <a class="btn" href = "/login">
                                            <span>Login as customer</span>
                                            <div class="dot"></div>
                                        </a>
                                    </div>
                                    

                                </div> 
                            </div>
                            
                            <div class="tab-pane fade" id="digital" role="tabpanel" aria-labelledby="digital-tab" style="filter: invert(1)";>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="our-services-image mt-50">
                                            <img src="/images/our-service-1.jpg" alt="service">
                                        </div> 
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="our-services-content mt-45">
                                            <h3 class="services-title">Digital Marketing  <span>for Your Business Growth.</span></h3>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec est arcu. Maecenas semper tortor.  <br>  <br> In elementum in risus sed commodo. Phasellus nisi ligula, luctus at tempor vitae, placerat at ante. Cras sed consequat justo. Curabitur laoreet eu est vel convallis. </p>
                                            
                                            <div class="our-services-progress d-flex align-items-center mt-55">
                                                <div class="circle" id="circles-2"></div>
                                                <div class="progress-content">
                                                    <h4 class="progress-title">Digital Marketing <br> Skill.</h4>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="market" role="tabpanel" aria-labelledby="market-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="our-services-image mt-50">
                                            <img src="/images/lik.png" alt="service">
                                        </div> 
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="our-services-content mt-45">
                                            <h3 class="services-title" style="color:red">How can you benefit <span>with our schemes.</span></h3>
                                            <p class="text">Get to choose projects from a variety of domains<br>Bid your own quotations. <br>Consumer profile based on recent activities to check on authenticity of customer  <br>  </p>
                                            
                                    
                                            <br><br><br>
                                            <div class="container">	
                                                <a class="btn" href = "/freelancerlogin">
                                                    <span>Login as a Freelancer</span>
                                                    <div class="dot"></div>
                                                </a>
                                                
                                            </div>

                                        </div> <!-- our services content -->
                                    </div>
                                </div> <!-- row -->
                            </div>
                        </div> <!-- tab content -->
                    </div> <!-- our services tab -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <section id="service" class="service-area pt-105">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h6 class="sub-title">Why Us</h6>
                        <h4 class="title">The reasons to choose us <span>as your business partner</span></h4>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="service-wrapper mt-60 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="row no-gutters justify-content-center">
                    <div class="col-lg-4 col-md-7">
                        <div class="single-service d-flex">
                            <div class="service-icon">
                                <img src="/images/service-1.png" alt="Icon">
                            </div>
                            <div class="service-content media-body">
                                <h4 class="service-title">Highly Experienced</h4>
                                <p class="text">Huge workforce of talented youths who can understand and address productions.</p>
                            </div>
                            <div class="shape shape-1">
                                <img src="/images/shape/shape-1.svg" alt="shape">
                            </div>
                            <div class="shape shape-2">
                                <img src="/images/shape/shape-2.svg" alt="shape">
                            </div>
                        </div> <!-- single service -->
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="single-service service-border d-flex">
                            <div class="service-icon">
                                <img src="/images/service-2.png" alt="Icon">
                            </div>
                            <div class="service-content media-body">
                                <h4 class="service-title">Bunch of Services</h4>
                                <p class="text">Wide range of domains where bla bla bla blaaa.</p>
                            </div>
                            <div class="shape shape-3">
                                <img src="/images/shape/shape-3.svg" alt="shape">
                            </div>
                        </div> <!-- single service -->
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="single-service d-flex">
                            <div class="service-icon">
                                <img src="/images/service-3.png" alt="Icon">
                            </div>
                            <div class="service-content media-body">
                                <h4 class="service-title">Quality Support</h4>
                                <p class="text" >Quality Support Quality Support Quality Support Quality Support Quality Support Quality Support`</p>
                            </div>
                            <div class="shape shape-4">
                                <img src="/images/shape/shape-4.svg" alt="shape">
                            </div>
                            <div class="shape shape-5">
                                <img src="/images/shape/shape-5.svg" alt="shape">
                            </div>
                        </div> <!-- single service -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="service-btn text-center pt-25 pb-15">
                            <a class="main-btn main-btn-2" href="#">All Services</a>
                        </div> <!-- service btn -->
                    </div>
                </div> <!-- row -->
            </div> <!-- service wrapper -->
        </div> <!-- container -->
    </section>
    

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->  




    <!--====== Jquery js ======-->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/modernizr-3.7.1.min.js"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="/js/slick.min.js"></script>
    
    <!--====== Isotope js ======-->
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    
    <!--====== Circles js ======-->
    <script src="/js/circles.min.js"></script>
    
    <!--====== Appear js ======-->
    <script src="/js/jquery.appear.min.js"></script>
    
    <!--====== WOW js ======-->
    <script src="/js/wow.min.js"></script>
    
    <!--====== Headroom js ======-->
    <script src="/js/headroom.min.js"></script>
    
    <!--====== Jquery Nav js ======-->
    <script src="/js/jquery.nav.js"></script>
    
    <!--====== Scroll It js ======-->
    <script src="/js/scrollIt.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="/js/main.js"></script>
    <script src = "/js/parallax.js"></script>
</body>

</html>
