<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/profile.css">
        <title>FREELANCER</title>
    </head>
    <body>
        <div class="navbar">
            <a href="#" class="logo">
                FREELANCER
            </a>

            <div class="links">
                <a href="#" class="navbar-link">Home</a>
                <a href="#" class="navbar-link">Customers</a>
                <a href="#" class="navbar-link">Freelancers</a>
                <a href="#" class="navbar-link">Contacts</a>
            </div>
        </div>  

        <div class="container">
            <img class="bg-img" src="public/images/img1.jpg">
            <img class="profile-photo" src="public/images/img3.jpg">
        </div>

        <div>
            <div class="sub-container">
                <h1 class="name">Roghan Jawaharlal</h1>

                <div class="element-container">
                    <div class="elements">
                        <p class="head">Lives In</p>
                        <p class="desc-1">17148, T-17B, Prestige Bella Vista, Ayyapanthangal</p>
                    </div>
                    <div class="elements">
                        <p class="head">Aadhar Card</p>
                        <p class="desc">XXXXXXXX1234</p>
                    </div>
                    <div class="elements">
                        <p class="head">Email ID</p>
                        <p class="desc">roghan.jawaharlal@gmail.com</p>
                    </div>
                    <div class="elements">
                        <p class="head">Contact No</p>
                        <p class="desc">+91 XXXXXX9876</p>
                    </div>
                    <div class="elements">
                        <p class="head">Projects Completed</p>
                        <p class="desc">12</p>
                    </div>
                    <div class="elements">
                        <p class="head">Rating</p>
                        <p class="desc">4.5/5</p>
                    </div>

                    
                </div>

                <div class="project-links">
                    <a href="#" class="link">Project-1</a>
                    <a href="#" class="link">Project-2</a>
                    <a href="#" class="link">Project-3</a>
                    <a href="#" class="link">Project-4</a>
                </div>
            </div>
        </div>
    </body>
</html>